[Unit]
Description=Simple service with API written in Go
After=network.target

[Service]
Type=Class2
ExecStart=/home/vagrant/Class2
PIDFile=/var/run/Class2

[Install]
WantedBy=default.target